amqp==5.0.9
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.4.0
billiard==3.6.4.0
certifi==2020.12.5
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==1.6.0
cryptography==3.4.8
Django==4.0.1
django-debug-toolbar==3.2.2
djangorestframework==3.13.1
idna==3.3
isodate==0.6.1
jsonschema==3.2.0
kombu==5.2.3
lazy-object-proxy==1.7.1
openapi-core==0.12.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
pika==1.2.0
prompt-toolkit==3.0.24
pycparser==2.21
pydantic==1.9.0
pydantic-django==0.1.1
PyJWT==1.7.1
PyMySQL==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
strict-rfc3339==0.7
tapipy==1.0.6
typing_extensions==4.0.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5


amqp==5.0.9
billiard==3.6.4.0
celery==5.2.3
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
kombu==5.2.3
prompt-toolkit==3.0.28
pytz==2021.3
six==1.16.0
vine==5.0.0
wcwidth==0.2.5
amqp==5.0.9
billiard==3.6.4.0
celery==5.2.3
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
kombu==5.2.3
prompt-toolkit==3.0.28
pytz==2021.3
six==1.16.0
vine==5.0.0
wcwidth==0.2.5
amqp==5.0.9
billiard==3.6.4.0
celery==5.2.3
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
kombu==5.2.3
prompt-toolkit==3.0.28
pytz==2021.3
six==1.16.0
vine==5.0.0
wcwidth==0.2.5
